
  <% product = Product.where(:id => params[:id].to_i).first%>
  <p>Name: <%= product.name %></p>
  <p>Price: $<%= product.price %></p>
  <p>ID: <%= product.id %></p>
  <p>Description: <%= product.description %></p>
  
  <br />
  
  <p>Add to cart: </p>
  
  <%= form_tag("/cart/view", :method => "post") do %>
  <%= label_tag(:quantity, "Quantity:") %>
  <%= text_field_tag(:quantity, 1, :size => 1) %>
  <%= hidden_field_tag(:product_id, product.id)%>
  <%= submit_tag("Add!") %>
  <% end %>
