<html>
<body>
  <h1>Sessions#new</h1>
  <p>Find me in app/views/sessions/new.html.erb</p>
  <h1>Log in</h1>
  <div class="flash">
    <%- if !notice.nil? -%>
    <p class="notice"><%= notice %></p>
    <%- end -%>
    <%- if !alert.nil? -%>
    <p class="alert"><%= alert %></p>
    <%- end -%>
</div>

  <%= form_tag('/sessions/create') do %>
  <div class= "field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class= "password">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class = "actions">
    <%= submit_tag "Log in" %>
  </div>
  <% end %>
  <br />
  <p>Or if you don't have an account, <a href="/signup">sign up here</a>.</p>
</body>
</html>