<h1>Cart#view</h1>
<p>Find me in app/views/cart/view.html.erb</p>

  <% if session[:authenticated] == false %>
  <p>Currently you are known as Guest. You can sign in <a href="/login">here</a>.</p>
  <% else %>
  <p>Hi, <%= session[:user_id]%>. Here's your cart:</p>
  <p>You can also <a href="/logout">logout</a>.</p>
  <% end %>

<p>Back to <a href="/item/list">list</a>.</p>

<div class="flash">
    <%- if !notice.nil? -%>
    <p class="notice"><%= notice %></p>
    <%- end -%> 
    <%- if !alert.nil? -%>
    <p class="alert"><%= alert %></p>
    <%- end -%>     
</div>

<% if ProductOrder.where(:cart_id => session[:cart].id).first != nil%>
<p>Cart Contents:</p>
<form action="/cart/view">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    <% ProductOrder.where(:cart_id => session[:cart].id).each do |po| %>
    <% prod = Product.where(:id => po.product_id).first %>
    <tr>
      <td><a href="/item/zoom/<%= prod.name %>"><%= prod.name %></a></td>
      <td><%= prod.price %></td>
      <td><input type="text" value="<%= po.quantity %>" name="<%=prod.id%>.quantity"></td>
      <td><%= prod.price.to_f * po.quantity.to_f %></td>
    </tr><% end %>
  </table>
  <input type="hidden" name="update" value="true">
  <input type="submit" value="Update">
<% else %>
<p>Your cart appears to be empty. Go buy some stuff :).</p>
<% end %>
</form>

<p><a href="/cart/checkout">Checkout!</a></p>