<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
<h1>Sign Up</h1>

<div class="flash">
    <%- if !notice.nil? -%>
    <p class="notice"><%= notice %></p>
    <%- end -%> 
    <%- if !alert.nil? -%>
    <p class="alert"><%= alert %></p>
    <%- end -%>     
</div>


<%= form_for @user do |f| %>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
<div>
<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
<div>
<div class="actions">
  <%= f.submit %>
<div>
<% end %>