<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to('Items', '/item/list') %>        
  </li>
  <% if session[:authenticated] == true %>
    <li>
    <%= link_to('Logout', '/logout') %>        
    </li>
    <li>
    <%= link_to('Change Password', '/users/edit') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', "/login")  %>  
    </li>
  <% end %>
  <% if session[:authenticated] == true %>
  <% else %>
    <li>
    <%= link_to('Sign up', "/signup")  %>
    </li>
  <% end %>
  <li>
    <%= link_to('My Cart', '/cart/view') %>        
  </li>
    <li>
    <%= link_to("Wishlists", "/wishlists/view")%>
  </li>
</ul>
<div style="float:right; font-size: 15px; padding-top: 10px">
  <% if session[:authenticated] == false %>
  Guest
  <% else %>
  <%= User.find_by_id(session[:user_id]).email %>
  <% end %>
</div>